interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://ridewithgps.com//users/current.json?apikey=DUMMY&email=DUMMY&password=DUMMY&version=2
  response:
    body:
      string: '{"user":{"id":3052056,"first_name":"Fake","last_name":"User","email":"fakeuser@example.com","created_at":"2020-09-29T15:43:47-04:00","self_membership_id":3149383,"description":"","interests":"","email_visible":false,"last_login_at":"2025-06-07T19:58:20Z","total_route_distance":0.0,"metric_units":false,"hr_max":181,"hr_rest":58,"hr_zone_1_low":120,"hr_zone_1_high":132,"hr_zone_2_low":132,"hr_zone_2_high":144,"hr_zone_3_low":144,"hr_zone_3_high":156,"hr_zone_4_low":156,"hr_zone_4_high":169,"hr_zone_5_low":169,"hr_zone_5_high":181,"is_male":true,"weight":68.0389,"vo2max":null,"num_unread_messages":0,"lat":33.8114305,"lng":-84.40608379999999,"display_name":"FAKEUSER","locality":"Faketown","administrative_area":"TestState","postal_code":"00000","country_code":"XX","email_on_message":true,"email_on_comment":true,"email_on_update":true,"visibility":2,"time_zone":"America/New_York","facebook_id":null,"account_level":2,"weeks_start_on":0,"email_bounce_count":0,"trips_included_in_totals_count":3109,"site_id":1,"dob":"1990-01-01T00:00:00-00:00","deactivated":0,"updated_at":"2025-06-06T08:39:18-04:00","deactivated_at":null,"locale":"en","heatmap_optout":true,"email_on_follow":true,"email_on_goal":true,"email_monthly_summary":true,"facebook_access_token_ciphertext":null,"email_recommendations":true,"email_reviews":true,"push_on_comment":true,"push_on_segment":true,"push_on_follow":true,"push_on_ride_sync":true,"push_on_like":true,"email_on_like":true,"email_marketing_email_recommendations":true,"email_marketing_updates_and_announcements":true,"email_marketing_tips_and_how_tos":true,"email_marketing_partnerships_and_promotions":true,"email_on_sharing":true,"push_on_sharing":true,"push_marketing_recommendations":true,"push_marketing_announcements":true,"push_marketing_tips":true,"push_marketing_promotions":true,"push_on_route_review_requests":true,"push_on_new_review":true,"migrated_facebook_access_token":null,"delete_on":null,"name":"FakeUser","age":41,"privileges":[],"highlighted_photo_id":13566116,"preferences":{},"gear":[],"unseen_updates":[],"push_applications":[],"relevant_goal_participants":[],"relevant_challenge_participants":[],"has_challenge_participants":false,"club_ids":[],"slim_favorites":[],"has_events":false,"needs_password_reset":false,"email_on_segment":true,"is_shadow_user":false,"has_set_location":true,"location":"Atlanta,
        Georgia","eligible_for_onetime_trial":false,"auth_token":"FAKE_TOKEN","active_app_code_uses":[],"user_summary":{},"heatmaps":[],"system_collections":[]},"labs":{"fit_export":true,"rsp_redesign":true,"pinned_in_searchbar":true,"smart_export":true,"mobile_home_redesign":true,"can_see_homepage_opt_in":true,"strava_sync":true,"relive_sync":true,"trsp_redesign":true,"varia":true,"route_planner":true,"app_home_v3":true,"prevent_sticky_gmaps":true,"surface_types":true,"new_logging_service":true,"new_search_results":true,"kaboom":true,"zd_chat":true,"personal_explore_web":true,"mobile_explore_filters":true,"inspect_promo":true,"watch_auto_pause":true,"remove_find_filters":true,"fast_auto_pause":true,"personal_explore_mobile_map":true,"mobile_choice":true,"personal_routes_explore_web":true,"inspect_in_planner":true,"pew_photos":true,"reviews_in_comments":true,"personal_explore_mobile_location":true,"reviews_menu_item":true,"Personal
        Explore Mobile Inspect":true,"fb_migration":true,"fb_migration_save":true,"fb_removal_mobile":true,"fb_removal_web":true,"Heatmap
        Upsell":true,"web_hide_basic":true,"Personal Explore Mobile Promo":true,"rwgps_cycle_takeover":true,"mapbox_planner":true,"web_explore":true,"push_on_ride_sync":true,"mobile_zd_chat":true,"ios_premium_push":true,"upload_page_redesign":true,"global_search_ng":true,"org_upload_redesign":true,"apps_disable_auto_record":true,"streetview_on_space":true,"set_home_location_modal":true,"map_layers":true,"explore_hover_name_only":true,"create_waypoints":true,"explore_club_suggestion":true,"trsp_explore_more":true,"explore_autochoose":true,"new_mobile_onboarding_experience":true,"s2d_hammerhead":true,"settings_privacy_tab":true,"region_content_portal":true,"change_start_release":true,"map_layers_sticky":true,"s2d_use_hammerhead_production":true,"unpaved_surfaces_layer":true,"mobile_onboarding_trial_upsell":true,"private_contributions_card":true,"signup_modal_trial_prompt":true,"new_signup_and_trial_modal":true,"samsung_battery_warning":true,"new_login_modal":true,"new_routing_options_toggle":true,"new_homepage":true,"share_modal_v2":true,"alt_homepage":true,"new_routing_options_4button":true,"updated_mrp_experience_trays":true,"web_collaborations":true,"community_poi_layer":true,"planner_org_heatmaps":true,"2024_planner_icons":true,"trsp_save_menu":true,"require_account_for_planner":true,"updated_mrp_experience_trays_ios":true,"vite_production":true,"web_collaborations_collections":true,"web_collections_in_library":true,"android_native_home_screen":true,"route_update_notification":true,"hide_offline_mode_toggle":true,"event_trsp":true,"explore_highlights":true,"export_requires_account":true,"see_event_details_link":true,"new_create_event_modal":true,"new_ios_native_home_screen":true},"additional_drawer_items":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"14fa8fbd5b1eda09a54bc1b0736a5f8f"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://ridewithgps.com//users/3052056/trips.json?apikey=DUMMY&offset=0&limit=20&version=2&auth_token=DUMMY
  response:
    body:
      string: '{"results":[{"id":4955297,"group_membership_id":3520648,"route_id":null,"created_at":"2025-06-07T14:57:01Z","gear_id":2173289,"departed_at":"2025-06-07T13:54:38Z","duration":3622,"distance":17716.5,"elevation_gain":362.588,"elevation_loss":355.899,"visibility":2,"description":null,"is_gps":true,"name":"FakeActivity","max_hr":173,"min_hr":102,"avg_hr":143,"max_cad":99,"min_cad":10,"avg_cad":66,"avg_speed":18.078,"max_speed":47.957,"moving_time":3528,"processed":true,"avg_watts":170.034,"max_watts":524.0,"min_watts":10.0,"is_stationary":false,"calories":573,"updated_at":"2025-06-07T14:58:21Z","time_zone":"America/New_York","first_lng":-84.406334,"first_lat":33.811417,"last_lng":-84.406113,"last_lat":33.811436,"user_id":3052056,"deleted_at":null,"sw_lng":-84.416985,"sw_lat":33.811104,"ne_lng":-84.397568,"ne_lat":33.828548,"track_id":"6844533d1e8c4bd5b4109030","postal_code":null,"locality":"Faketown","administrative_area":"TestState","country_code":"XX","source_type":"garmin_connect","likes_count":0,"track_type":"loop","terrain":"climbing","difficulty":"easy","activity_type_id":0,"activity_category_id":0,"vam":583,"work":447,"max_grade":10.7819,"fit_sport":2,"fit_sub_sport":0,"hr_zones":{"1":761,"2":1105,"3":507,"4":561,"5":417},"highlighted_photo_id":0,"highlighted_photo_checksum":null,"utc_offset":-18000},{"id":4345107,"group_membership_id":3520648,"route_id":null,"created_at":"2025-06-06T01:40:24Z","gear_id":2125802,"departed_at":"2025-06-05T22:43:26Z","duration":10069,"distance":30519.9,"elevation_gain":545.018,"elevation_loss":533.371,"visibility":2,"description":null,"is_gps":true,"name":"FakeActivity","max_hr":178,"min_hr":89,"avg_hr":152,"max_cad":null,"min_cad":null,"avg_cad":null,"avg_speed":14.3398,"max_speed":45.562,"moving_time":7662,"processed":true,"avg_watts":249.346,"max_wa[...]
