interactions:
- request:
    body: '{"user": {"email": "DUMMY", "password": "DUMMY"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ridewithgps.com/api/v1/auth_tokens.json?apikey=DUMMY&version=2
  response:
    body:
      string: '{"auth_token":{"auth_token":"FAKE_TOKEN","api_key":"c966a1ec","created_at":"2026-02-20T19:32:03Z","updated_at":"2026-02-20T19:32:03Z","user":{"id":3052056,"name":"FakeUser","created_at":"2020-09-29T19:43:47Z","updated_at":"2026-02-15T15:11:20Z","first_name":"Fake","last_name":"User","email":"fakeuser@example.com","display_name":"FAKEUSER","locality":"Faketown","administrative_area":"TestState","postal_code":"00000","country_code":"XX","dob":"1990-01-01T00:00:00-00:00","auth_token":"FAKE_TOKEN"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"41c4213d3c9bba055b38ddfe3baa75b4"
      x-rwgps-datetime:
      - '2026-02-20T19:32:03+00:00'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers: {}
    method: GET
    uri: https://ridewithgps.com/users/3052056/trips.json?apikey=DUMMY&offset=0&limit=30&version=2&auth_token=DUMMY
  response:
    body:
      string: '{"results":[{"id":4452297,"group_membership_id":null,"route_id":null,"created_at":"2026-02-20T18:16:04Z","gear_id":2176117,"departed_at":"2026-02-20T17:13:27Z","duration":3720,"distance":28073.7,"elevation_gain":0.0,"elevation_loss":0.0,"visibility":2,"description":null,"is_gps":false,"name":"FakeActivity","max_hr":164,"min_hr":96,"avg_hr":139,"max_cad":88,"min_cad":32,"avg_cad":74,"avg_speed":27.4113,"max_speed":32.254,"moving_time":3687,"processed":true,"avg_watts":144.596,"max_watts":215.0,"min_watts":11.0,"is_stationary":true,"calories":509,"updated_at":"2026-02-20T18:16:04Z","time_zone":"America/New_York","first_lng":null,"first_lat":null,"last_lng":null,"last_lat":null,"user_id":3052056,"deleted_at":null,"sw_lng":180.0,"sw_lat":90.0,"ne_lng":-180.0,"ne_lat":-90.0,"track_id":"6998a4e458217a6aeb4b1683","postal_code":null,"locality":"Faketown","administrative_area":"TestState","country_code":"XX","source_type":"garmin_connect","likes_count":0,"track_type":"loop","terrain":"unknown","difficulty":"unknown","activity_type_id":0,"activity_category_id":0,"vam":0,"work":525,"max_grade":null,"fit_sport":2,"fit_sub_sport":6,"hr_zones":{"1":1042,"2":1209,"3":930,"4":391,"5":0},"fit_product":4575,"highlighted_photo_id":0,"highlighted_photo_checksum":null,"utc_offset":-18000},{"id":4957901,"group_membership_id":null,"route_id":null,"created_at":"2026-02-19T20:03:05Z","gear_id":2884826,"departed_at":"2026-02-19T18:47:17Z","duration":4494,"distance":32427.2,"elevation_gain":0.0,"elevation_loss":0.0,"visibility":2,"description":null,"is_gps":false,"name":"FakeActivity","max_hr":147,"min_hr":91,"avg_hr":134,"max_cad":96,"min_cad":24,"avg_cad":73,"avg_speed":26.0285,"max_speed":33.681,"moving_time":4485,"processed":true,"avg_watts":128.205,"max_watts":192.0,"min_w[...]
