name: black
on: [push]
permissions:
  contents: read
jobs:
  run-black:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Installs packages
        run: pip3 install .[dev]
      - name: Runs black
        run: black --check pyrwgps
