name: flake8
on: [push]
permissions:
  contents: read
jobs:
  run-flake8:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Installs packages
        run: pip3 install .[dev]
      - name: Runs flake8
        run: flake8 pyrwgps
