name: pylint
on: [push]
permissions:
  contents: read
jobs:
  run-pylint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Installs packages
        run: pip3 install .[dev]
      - name: Runs pylint
        run: pylint pyrwgps

