name: pytest
on: [push]
permissions:
  contents: read
jobs:
  run-pytest:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Installs packages
        run: pip3 install -e '.[dev]'
      - name: Runs pytest
        run: python -m pytest --cov=pyrwgps --cov-report=term-missing -v
